body{
    /* background-color: #21232b; */
   background-color: aqua;
   font-family: sans-serif;
}

.MortyGrid{
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: repeat(2, 1fr);

}


.Morty{
    
    background-color: #3c3e42;
    border-radius: 5%; 
    justify-content: space-between; 
    align-items: stretch;
    align-content: stretch;
    height: 360px;
}

.photo{
    display: inline;
    position: relative;
    top: -17px;
    left: -40px;
    border-radius: 5%; 

    
}

figure{
    background-color: #57cc44;
    float: left;
    border-radius: 5%; 
}

img{
   height: 120%;
   width: 120%;
   border-radius: 5%; 

}



.info{
    display: inline;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: flex-start;
    border: 5px red;
  
}

.name{
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    /* background-color: yellow; */
}

.status_div{
  
    margin: 0;
    padding: 0;
    background-color: green;

}

.bulletpoint{
    color: #57cc44;
    display: inline;
    
}

.status{
    display: inline;
    color: white;
    margin-left: 10px;
    
}

.subtitle{
    color: #818083;
}

.date{
    color: white
    
}