body{
    background-color: #21232b; 

   font-family: sans-serif;
}

.MortyGrid{
    margin: 30px;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 0;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: repeat(2, 1fr);

}


.Morty{
    
    background-color: #3c3e42;
    border-radius: 5%; 
    justify-content: space-between; 
    align-items: stretch;
    align-content: stretch;
    height: 358px;
    margin-right: 20px;
}

.photo{
    display: inline;
    position: relative;
    top: -17px;
    left: -40px;
    border-radius: 5% 0 0 5%; 

    
}

figure{
    float: left;
    border-radius: 5% 0 0 5%;  
}

img{
   height: 120%;
   width: 120%;
   border-radius: 5% 0 0 5%; 

}



.info{
    display: inline;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: flex-start;
  
}

.name{
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    /* background-color: yellow; */
}

.status_div{
  
    margin: 0;
    padding: 0;
    position: relative;
    top: -22px;
    margin-bottom: 20px;
    font-size: 15px;


}

.bulletpoint{
    color: #57cc44;
    display: inline;
}

.status{
    display: inline;
    color: white;
    margin-left: 10px;
    
}

.subtitle{
    color: #818083;
    font-size: 20px;

}

.date{
    color: white;
    position: relative;
    top: -20px;
    font-size: 20px;
    
}